<nav class="navbar navbar-light bg-primary navbar-expand-lg">
	<a class="navbar-brand" href="#">Navbar</a>	
	<div class="d-flex flex-row-reverse d-lg-none">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
  		<ul class="nav">
  			<li ng-repeat="item in $ctrl.rightNavItems" class="nav-item" ng-class="{dropdown: item.dropdown}">
  				<a ng-if="item.link" class="nav-link" href="#" ng-click="$ctrl.onSelectRightNav(item)">{{item.title}}</a>
  				<a ng-if="item.dropdown" class="nav-link dropdown-toggle" href="#" id="navbarDropdown_{{item.title}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{item.title}}</a>
  				<div ng-if="item.dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown_{{item.title}}">
  					<a ng-repeat="ditem in item.dropdownItems" class="dropdown-item" href="#" ng-click="$ctrl.onSelectRightNav(item,ditem)">{{ditem.title}}</a>
  				</div>
  			</li>
	    </ul>
	</div>
	<div class="collapse navbar-collapse" id="navbarNav">	  	
	    <ul class="navbar-nav">
	      <li ng-repeat="item in $ctrl.leftNavItems" class="nav-item">
	      	<a class="nav-link" href="#" ng-class={active:item.active,disabled:item.disabled} aria-disabled="item.disabled" ng-click="$ctrl.onSelectLeftNav(item)">{{item.title}}</a>
	      </li>
	    </ul>
	</div>	
	<div class="d-lg-flex d-none flex-row-reverse">
		<ul class="nav">
			<li ng-repeat="item in $ctrl.rightNavItems" class="nav-item" ng-class="{dropdown: item.dropdown}">
  				<a ng-if="item.link" class="nav-link" href="#" ng-click="$ctrl.onSelectRightNav(item)">{{item.title}}</a>
  				<a ng-if="item.dropdown" class="nav-link dropdown-toggle" href="#" id="navbarDropdown_{{item.title}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{item.title}}</a>
  				<div ng-if="item.dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown_{{item.title}}">
  					<a ng-repeat="ditem in item.dropdownItems" class="dropdown-item" href="#" ng-click="$ctrl.onSelectRightNav(item,ditem)">{{ditem.title}}</a>
  				</div>
  			</li>
	    </ul>
	</div>
</nav>